@charset "utf-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
sup { vertical-align: text-top; }
sub { vertical-align: text-bottom; }
input, button, textarea, select { font-family: inherit;  *font-family:"Microsoft YaHei", "微软雅黑", Arial, Verdana, serif;
font-size: inherit; font-weight: inherit;  *font-size:100%;
width: auto; overflow: visible; }
legend { color: #000; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; }
html, body { height: 100%; }
a, a:active { color: #333; text-decoration: none; outline: 0; }
a:hover { text-decoration: none; }
.clear { zoom: 1; }
.clear:after { content: "\200c"; display: block; height: 0; font-size: 0; clear: both; }
.none { display: none; overflow: hidden; }
body { background-color: rgb(241,242,249); color: #39474b; font-family: "Microsoft YaHei", "微软雅黑", Arial, Verdana, serif; font-size: 14px; line-height: 1.4; }
.wrapper { width: 100%; display: block; position: relative; z-index: 1; }
.main { margin: 0 auto 25px; height: 155px; }
.alignleft { float: left; display: inline; }
.alignright { float: right; display: inline; }
.bg { height: 100%; width: 100%; background: url(../images/bg2.jpg) no-repeat; background-size: cover,100%; top: 0; left: 0; bottom: 0; right: 0; position:fixed; }
#wrap { position: relative; min-height: 100%; min-width: 960px; _height: 100%; }
#container { position: relative; z-index: 5; }
.topnav { height: 40px; }
#search { position: relative; margin: 0 auto; padding: 0 5px 0 10px; width: 536px; height: 40px; background-color: #fff; border-radius: 3px; box-shadow:0px 5px 20px -10px #333; }
#search form { position: relative; }
#search .engine { position: relative; float: left; height: 40px; }
#search .engine .name { font-size: 18px; line-height: 40px; display: block; padding: 0 5px; text-decoration: none; vertical-align: top; _margin-top: 6px; }
#search .engine .name span { display: inline-block; zoom: 1; overflow: hidden; width: 7px; height: 4px; margin: 0 0 0 5px; background: url(../images/images.png) no-repeat 0 -64px; vertical-align: middle }
#search .engine .name .unfold { border-color: #fff #fff #666 #fff; top: -3px; }
#search .engine .list { position: absolute; top: 100%; left: -1px; border: 1px solid #d06c23; background: #fff; width: 420px; _width: 423px; font-size: 16px; padding: 3px 0; display: none }
#search .engine .list a { width: 97px; margin: 0 3px; float: left; text-align: center; text-decoration: none; border: 1px solid #fff; border-radius: 3px; display: inline; }
#search .engine .list a.active, #search .engine .list a:hover { border-color: #ffc865; background: #fbe6c8; }
#search .engine .list a span { display: inline-block; zoom: 1; overflow: hidden; width: 16px; height: 16px; background-image: url(../images/images.png); vertical-align: top; position: relative; top: 4px; _top: 2px; margin-right: 4px }
#search .engine .baidu span { background-position: 0 -38px }
#search .engine .google span { background-position: -26px -38px }
#search .engine .taobao span { background-position: -78px -38px }
#search .engine .sougou span { background-position: -52px -38px }
#s { float: left; padding: 5px 5px 5px 6px; height: 30px; line-height: 30px; box-sizing: content-box; border: 0; margin: 0; outline: 0; width: 440px; background: none; -webkit-appearance: none }
#search button { position: absolute; right: 0; _right: -1px; top: 0; width: 40px; height: 40px; background: url(../images/query.png) no-repeat; background-size: 100% 100%; border: 0; margin: 0; padding: 0; text-indent: -999em; outline: 0; opacity:0.3; transition-duration: 0.2s; }
#search button:hover { opacity:0.5; }
#search button:active { background-position: 0 0; }
#footer { height: 30px; }

.link-main { width: 90%; min-width: 864px; height: auto; margin: 0 auto; }
.link-panel { width: 100%; height: auto; overflow: hidden; margin-bottom: 10px; background-color: #fff; border-radius:3px; padding: 0 0 30px; }
.panel-heading { height: 36px; font-size: 16px; margin: 10px 16px 0; line-height: 36px; border-bottom:2px rgba(0,0,0,.08) solid; color:#30333c; }
.panel-heading b { margin-left: 20px; display:inline-block; border-bottom:2px #30333C solid; }
.link-panel ul { padding: 12px; height: auto; }
.link-panel ul li { float: left; position: relative; transition-property: all; transition-duration: 0.3s; }

ul.tile li { width: calc(16.66% - 8px); height: 56px; background-color: rgb(245,245,249); /*padding: 12px 8px;*/ margin: 4px; border-radius: 3px; }
ul.tile li:hover { background-color: rgb(241,242,249); box-shadow: 0 16px 10px -12px rgba(0, 25, 115,.18); transform:translate3d(0,-4px,0); }
ul.tile li a { padding: 12px; display: block; color: #a1a7b7; font-size: 12px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
ul.tile li a h3 { font-weight: bold; font-size: 12px; color: #30333c; }
ul.tile li:hover a h3 { color: #4588ff; transition-property: all; transition-duration: 0.3s; }
ul.tile li a img { width: 32px; height: 32px; border-radius: 4px; float: left; margin-right: 5px; }

ul.small li { float: left; border-radius: 32px; background-color: rgb(245,245,249); margin: 4px; overflow: hidden; }
ul.small li:hover { background-color: rgb(241,242,249); box-shadow: 0 16px 10px -12px rgba(0, 25, 115,.18); transform:translate3d(0,-4px,0); }
ul.small li a { height: 16px; line-height: 16px; padding: 8px 15px 8px 12px; display: block; }
ul.small li:hover a { color: #f44336; }
ul.small li a img { width: 16px; height: 16px; vertical-align: middle; margin-right: 4px; margin-top: -2px; }

ul.toplist { padding: 20px; display: flex; justify-content: center; gap: 10px; }
ul.toplist li a { color: #fff; text-shadow: 2px 2px 4px #000; }
ul.toplist li a:hover { text-decoration: underline; }